<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/css/page12.css">
    <title>Page 12</title>
</head>
<body>
    <header>
        <pre><h1>Discover.
Explore.
Inspire.</h1></pre>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Faucibus in libero risus semper habitant arcu eget. 
            Et integer facilisi eget diam.
        </p>
        <a href="#">Explore</a>
    </header>
    <img src="../src/storage/img/page12_1.jpg" alt="Page 12">

    <main>
        <div class="imgs">
        <img src="../src/storage/img/page12_2.jpg" alt="Page 12">   
        <img src="../src/storage/img/page12_3.jpg" alt="Page 13">
        </div>
        <div class="info">
            <img src="../src/storage/img/page12_men.jpg" alt="Page 13">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Faucibus in libero risus semper habitant arcu eget. 
                Et integer facilisi eget diam.</p>
        </div>
    </main>
    <!-- <img src="../src/storage/img/page12_spiral.png" alt="Page 12">
    <img src="../src/storage/img/page12_star1.png" alt="Page 12">
    <img src="../src/storage/img/page12_star2.png" alt="Page 12">
    <img src="../src/storage/img/page12_waves.png" alt="Page 12"> -->
</body>
</html>