<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page 3</title>
</head>
<body>
    <header>
        <h1>Just that simple</h1>
        <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Faucibus in libero risus semper habitant arcu eget.
            <a href="#">Get Started</a>
            </p>
        </div>
    </header>

    <main>
        <img src="../src/storage/img/hero-image.png" alt="">
    </main>
</body>
</html>