<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/css/page1.css">
    <title>Page 1</title>
</head>
<body>
    <header>
        <h1>Discover the beauty around the world</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Faucibus in libero risus semper habitant arcu eget. 
            Et integer facilisi eget diam.</p>
        <a>Explore</a>
    </header>

    <main>
        <img src="../src/storage/img/image1.jpg" alt="Page 1">
        <img src="../src/storage/img/image2.jpg" alt="Page 1">
        <img src="../src/storage/img/image3.jpg" alt="Page 1">
        <img src="../src/storage/img/image4.jpg" alt="Page 1">
        <img src="../src/storage/img/image5.jpg" alt="Page 1">
        <img src="../src/storage/img/image6.jpg" alt="Page 1">
        <img src="../src/storage/img/image7.jpg" alt="Page 1">
        <img src="../src/storage/img/image8.jpg" alt="Page 1">
    </main>
    
</body>
</html>