<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/css/page2.css">
    <title>Page 2</title>
</head>
<body>
    <header>
        <div class="info_title">
            <h1>Discover the beauty around the world</h1>
            <p>Lorem ipsum dolor sit amet, consectetur 
                adipiscing elit. Faucibus in libero 
                risus semper habitant arcu.
            </p>
            <a href="#">Get Started</a>
        </div>
        <div class="first_image">
            <img src="../src/storage/img/image1.jpg" alt="plants">
        </div>
        <img src="../src/storage/img/image2.jpg" alt=""> 
    </header>

    <main>
        <div>
            <p>01</p>
            <img src="../src/storage/img/image3.jpg" alt="">
        </div>
        
        <div>
            <p>02</p>
            <img src="../src/storage/img/image4.jpg" alt="">
        </div>
            
        <div>
            <p>03</p>
            <img src="../src/storage/img/image5.jpg" alt="">
        </div>
    </main>
    
</body>
</html>