<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/css/page5.css">
    <title>Page 5</title>
</head>
<body>
    <header>
        <h1>Projects and practice</h1>
    </header>

    <main>
        <div>
            <p>01</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget.</p>
            <img src="../src/storage/img/page5_1.jpg" alt="Image 1">
        </div>

        <div>
            <p>02</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget.</p>
            <img src="../src/storage/img/page5_2.jpg" alt="Image 1">
        </div>

        <div>
            <p>03</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget.</p>
            <img src="../src/storage/img/page5_3.jpg" alt="Image 1">
        </div>


    </main>
</body>
</html>