<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page 3</title>
</head>
<body>
    <header>
        <h1>Exploration and inspiration</h1>
        <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Faucibus in libero risus semper habitant arcu eget. 
                Et integer facilisi eget diam.
            <a href="#">Explore</a>
            </p>
        </div>
    </header>

    <main>
        <div>
            <p>01</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget.</p>
        </div>
        <div>
            <p>02</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget.</p>
        </div>
    </main>

    <section>   
        <img src="../src/storage/img/page4.jpg" alt="page4">
    </section>
</body>
</html>