<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/css/page4.css">
    <title>Page 3</title>
</head>
<body>
    <main>
        <header>
            <h1>Exploration and inspiration</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Faucibus in libero risus semper habitant arcu eget. 
                        Et integer facilisi eget diam.
            
            </p>
            <a href="#">Explore</a>
        </header>

        <section>
            <div>
                <p>01</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget.</p>
            </div>
            <div>
                <p>02</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget.</p>
            </div>
        </section>
    </main>
         <img src="../src/storage/img/page4.jpg" alt="page4">
    
</body>
</html>