<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/css/page8.css">
    <title>Page 8</title>
</head>
<body>
    <header>
        <h1>Take your designs to the next level</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Faucibus in libero risus semper habitant arcu.</p>
        <a href="#">Explore</a>
    </header>

    <main>
        <div class="back_circle"></div>
        <img src="../src/storage/img/pattern.png" alt="pattern">
        <img src="../src/storage/img/pattern.png" alt="pattern">
        <img src="../src/storage/img/page8_1.png" alt="men">
    </main>
</body>
</html>