<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/css/page5.css">
    <title>Page 5</title>
</head>
<body>
    <header>
        <h1>Page 5</h1>
    </header>

    <main>
        <section class="section-numbers">
            <p>01</p>
            <p>02</p>
            <p>03</p>
        </section>

        <section class="section-parapgraph">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget.</p>
            <p>0Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget.</p>
            <p>0Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget.</p>
        </section>

        <section class="section-image">
            <img src="../src/storage/img/page5_1.jpg" alt="Image 1">
            <img src="../src/storage/img/page5_2.jpg" alt="Image 2">
            <img src="../src/storage/img/page5_3.jpg" alt="Image 3">
        </section>
    </main>
</body>
</html>