<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/css/page7.css">
    <title>Page 7</title>
</head>
<body>
    <header>
        <h1>Design is the way how 
            you express the feelings</h1>
    </header>

    <main>
        <div class="container">
            <p>01</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <img src="../src/storage/img/page7_img1.jpg" alt="image1">
            <div class="subcontainer">
                <p>Title</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus</p>
            </div> 
        </div>

        <div class="container">
            <p>02</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <img src="../src/storage/img/page7_img2.jpg" alt="image1">
            <div class="subcontainer">
                <p>Title</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus</p>
            </div> 
        </div>

        <div class="container">
            <p>03</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <img src="../src/storage/img/page7_img3.jpg" alt="image1">
            <div class="subcontainer">
                <p>Title</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus</p>
            </div> 
        </div>

        <div class="container">
            <p>04</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <img src="../src/storage/img/page7_img4.jpg" alt="image1">
            <div class="subcontainer">
                <p>Title</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus</p>
            </div> 
        </div>
    </main>
</body>
</html>