<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/css/page6.css">
    <title>Page </title>
</head>
<body>
    <header>
        <img src="../src/storage/img/page6_clock.png" alt="logo">
        <h1>THE eWatch with the newest microchip technology</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget diam.
        </p>
  

        <section class="buttons">
            <a href="#">Order now</a>
            <a href="#">Explore more</a>
        </section> 
        
        <section class="features">
            <div>
                <img src="../src/storage/img/page6_sun.png" alt="logo">
                <p>Lorem ipsu dolor amet</p>
            </div>

            <div>
                <img src="../src/storage/img/page6_star.png" alt="logo">
                <p>Lorem ipsu dolor amet</p>
            </div>

            <div>
                <img src="../src/storage/img/page6_Icons2.png" alt="logo">
                <p>Lorem ipsu dolor amet</p>
            </div>

            <div>
                <img src="../src/storage/img/page6_Icons3.png" alt="logo">
                <p>Lorem ipsu dolor amet</p>
            </div>
        </ssection>
    </header>

    <main>
        <img src="../src/storage/img/page6_bigstar.png" alt="bigstar">
        <div></div>
        <img src="../src/storage/img/page6_thinstar.png" alt="star">
        <!-- <img src="../src/storage/img/page6.jpg" alt="eWatch"> -->
        <img src="../src/storage/img/page6_thinstar.png" alt="star">
        <div></div>
        <p>Ergonomic design</p>
        <p>Award winning product</p>
    </main>

</body>
</html>