@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    padding:65px 64px 72px ;
}

header img{
    width: 408px;
    height: 480px;
    border-radius: 16px;
    object-fit: cover;
}

header > img{
    margin: 152px 0 0 35px;  
}

header .info_title{
    display: flex;
    flex-direction: column;
    padding: 72px 75px 0 2px;
    align-items: flex-start;
 
}

header .info_title h1{
    font-family: "Avenir-Heavy";
    font-size: 56px;
    color: var(--color-5);
}
header .info_title p{
    font-family: "avenir-roman";
    padding: 0 24px 24px 0;
    font-size: 26px;
    color: var(--color-6);
    line-height: 35px;
}

header .info_title a{
    font-family: "avenir-roman";
    padding: 16px 32px ;
    background-color: var(--color-5);
    color: var(--color-7);
    border-radius: 16px;
    text-decoration: none;
    font-size: 16px;

}

main{
    display: flex;
    padding: 0 60px 63px 64px;
    gap: 40px; 
    flex-wrap: wrap;
    justify-content: space-between;
}

main div img{
    width: 412px;
    height: 379.12px;
    border-radius: 16px;
    object-fit: cover;
}
main div p{
    font-family: "Avenir-Heavy";
    font-size: 40px;
    color: var(--color-8);


}