@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    row-gap: 72px;
    grid-template-areas: "header" "main";
    padding: 64px;
}



header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .first_image img{
    width: 408px;
    height: 480px;
    object-fit: cover;
    border-radius: 16px;
}

header .first_image{
    position: relative;
    display: flex;
    width: 851px;
    right: 0;
    height: 632px;
} 

header .first_image img:nth-child(1){
    position: absolute;
    top: 0;
    left: 0;
}
header .first_image img:nth-child(2){
    position: absolute;
    bottom: 0;
    right: 0;
} 









header .info_title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 444px;
    gap: 24px;
 
}

header .info_title h1{
    font-family: "Avenir-Heavy";
    font-size: 56px;
    color: var(--color-5);
}
header .info_title p{
    font-family: "avenir-roman";
    font-size: 26px;
    color: var(--color-6);
    padding: 0px 0 24px 0px;
    padding-right: 54px;
    line-height: 35px;
}

header .info_title a{
    font-family: "avenir-roman";
    padding: 16px 32px ;
    background-color: var(--color-5);
    color: var(--color-7);
    border-radius: 16px;
    text-decoration: none;
    font-size: 16px;

}

main{
    grid-area: main;
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: space-between;
}

main div img{
    width: 412px;
    height: 379.12px;
    object-fit: cover;
    border-radius: 16px;
}
main div p{
    font-family: "Avenir-Heavy";
    font-size: 40px;
    color: var(--color-8);


}