@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: row;
    gap: 24px;
}

header{
    display: flex;
    flex-direction: column;
    margin: 64.75px 0 64px 64.75px ;
    width: 653px;
}

header img{
    width: 23.7px;
    height: 23.7px;
}

header h1{
    font-family: "PlayfairDisplay-Bold";
    font-size: 64px;
    line-height: 80px;
    color: var(--color-23);
    margin-top: 55.1px;
    margin-left: 24px;
}

header > p{
    font-family: "WorkSans-Regular";
    font-size: 24px;
    line-height: 30px;
    color: var(--color-20);
    margin-top: 32px;
    margin-left: 24px;
}

header .buttons{
    display: flex;
    gap: 32px;
    margin-top: 32px;
    margin-left: 24px;
}

header .buttons a{
    font-family: "WorkSans-Medium";
    font-size: 24px;
    line-height: 18px;
    color: var(--color-24);
    text-decoration: none;
    padding: 24px 48px;
}

header .buttons a:first-child{
    background-color: var(--color-23);
    color: var(--color-22);
    border-radius: 16px;
}

header .buttons a:last-child{
    background-color: var(--color-22);
    color: var(--color-20);
    border-radius: 16px;
    border: 1px solid var(--color-20);
}

header .features{
    display: flex;
    gap: 80px;
    margin-top: 70px;
    border: 1px solid var(--color-21);
    border-radius: 24px;
    padding: 24px 24px;
    width: 652px;
    height: 118px;

}

header .features div{    
    display: flex;
    flex-direction: column;
    gap: 8px;
}

header .features div img{
    width: 24px;
    height: 24px;
}

header .features div p{
    font-family: "WorkSans-Regular";
    font-size: 16px;
    color: var(--color-21);
}










main img:nth-child(4){
    width: 480px;
    height: 628px;
}